form: spelling. kind: Variant. meaning: light-bringer. name: AARAN. original: Aaron. sex: male. source: English.
form: spelling. kind: Variant. meaning: Ireland. name: AAREN. original: Aeryn. sex: female. source: English.
form: spelling. kind: Variant. meaning: life. name: ZOWIE. original: Zoey. sex: female. source: English.
form: form. kind: Anglicized. meaning: flow, overflow. name: ZUPH. original: Tsuwph. sex: male. source: Hebrew.
